flows_drijfpi.json
[{"type":"tab","id":"e98210e1.167df","label":"Playground"},{"type":"tab","id":"5bf1a2c.fa40e5c","label":"Turotial"},{"type":"tab","id":"4877f236.b7880c","label":"Sheet 3"},{"id":"7b16f6ad.84e908","type":"subflow","name":"Subflow 1","in":[],"out":[]},{"id":"f7b9cd48.08463","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"15","crontab":"","once":true,"x":92,"y":123,"z":"5bf1a2c.fa40e5c","wires":[["979cef30.68631"]]},{"id":"15e3eb8f.ea1c14","type":"function","name":"power demand UK","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n\n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\nreturn null;","outputs":"2","valid":true,"x":427,"y":123,"z":"5bf1a2c.fa40e5c","wires":[["7c097ab0.83f684"],["c7e3d711.381c28"]]},{"id":"7c097ab0.83f684","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":621,"y":92,"z":"5bf1a2c.fa40e5c","wires":[]},{"id":"c7e3d711.381c28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":620,"y":155,"z":"5bf1a2c.fa40e5c","wires":[]},{"id":"979cef30.68631","type":"http request","name":"","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":251,"y":123,"z":"5bf1a2c.fa40e5c","wires":[["15e3eb8f.ea1c14"]]},{"id":"d38a20fe.2c75e","type":"http request","name":"","method":"GET","ret":"txt","url":"http://api.easybulb.com/v1/rgbw/on/","x":313,"y":158,"z":"e98210e1.167df","wires":[["baa054af.455fa8"]]},{"id":"cb01ef1b.34fe1","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":141,"y":158,"z":"e98210e1.167df","wires":[["d38a20fe.2c75e"]]},{"id":"baa054af.455fa8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":517,"y":158,"z":"e98210e1.167df","wires":[]},{"id":"f29fe1bc.0d602","type":"http in","name":"","url":"/testNode","method":"get","x":144,"y":258,"z":"5bf1a2c.fa40e5c","wires":[["becf3f66.4130c"]]},{"id":"72830368.8d7cfc","type":"http response","name":"Name","x":514,"y":258,"z":"5bf1a2c.fa40e5c","wires":[]},{"id":"bf87f0f7.40781","type":"http in","name":"","url":"/testNode","method":"get","x":212,"y":125,"z":"4877f236.b7880c","wires":[["e03f7f5e.1fc08"]]},{"id":"49f14df0.b60eb4","type":"http response","name":"","x":552,"y":121,"z":"4877f236.b7880c","wires":[]},{"id":"e03f7f5e.1fc08","type":"function","name":"","func":"\nreturn \"msg\";","outputs":1,"valid":true,"x":383,"y":121,"z":"4877f236.b7880c","wires":[["49f14df0.b60eb4"]]},{"id":"becf3f66.4130c","type":"template","name":"","field":"payload","format":"html","template":"\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Frameset//EN\" \"http://www.w3.org/TR/html4/frameset.dtd\">\n\n<HTML LANG=\"nl\">\n<HEAD>\n\n<TITLE>Handleiding HTML - De Nederlandse informatiebron op het gebied van HTML en CSS</TITLE>\n\n<!-- \nHandleiding HTML\n\nCopyright 1995-2015  Hans de Jong\n\nURL:      http://www.handleidinghtml.nl/\nE-mail:   info+apenstaartje+handleidinghtml.nl (vervang +apenstaartje+ door @)\n\nGehele of gedeeltelijke overname, plaatsing op andere sites, verveelvoudiging op welke andere wijze ook en/of commercieel gebruik van deze handleiding alleen na toestemming van de auteur.\n-->\n</HEAD>\n\n<BODY BGCOLOR=\"#FFFFFF\" TEXT=\"#000000\" LINK=\"#336699\" VLINK=\"#000000\" ALINK=\"#000000\">\n\n<DIV ALIGN=\"center\">\n\n<TABLE CELLSPACING=\"0\" CELLPADDING=\"0\" BORDER=\"0\" WIDTH=\"620\">\n<TR>\n<TD WIDTH=\"30\" VALIGN=\"top\" ALIGN=\"left\" CLASS=\"titelkolom\">\n<IMG SRC=\"afbeeldingen/handleidingkolom.gif\" ALT=\"\" WIDTH=\"30\" HEIGHT=\"900\" BORDER=\"0\">\n</TD>\n<TD WIDTH=\"10\">\n</TD>\n<TD WIDTH=\"580\" ALIGN=\"left\" VALIGN=\"top\">\n\n<H1 ALIGN=\"center\" CLASS=\"starttitel\"><IMG SRC=\"afbeeldingen/handleidinghtml.gif\" WIDTH=\"580\" HEIGHT=\"66\" BORDER=\"0\" ALT=\"Handleiding HTML\"></H1>\n\n<P CLASS=\"algemeennavigatie\"> <IMG SRC=\"afbeeldingen/links.gif\" ALT=\"\" WIDTH=\"10\" HEIGHT=\"11\" BORDER=\"0\" ALIGN=\"bottom\"> <A HREF=\"html/inhoud-html.html\" CLASS=\"algemeennavigatielink\">Inhoud HTML</A> | <A HREF=\"css/inhoud-css.html\" CLASS=\"algemeennavigatielink\">Inhoud CSS</A> | <A HREF=\"algemeen/trefwoorden.html\" CLASS=\"algemeennavigatielink\">Trefwoordenregister</A> | <A HREF=\"start.html\" CLASS=\"algemeennavigatielink\">Begin</A></P>\n\n<P><BR>\nVanwege de extra mogelijkheden op het gebied van de navigatie maakt de Handleiding HTML gebruik van frames. De browser ondersteunt geen frames, of de weergave van frames is niet toegestaan. Als alternatief kan gebruik gemaakt worden van de noframes-versie, welke inhoudelijk gelijk is aan de versie met frames.</P>\n\n<P>Open de <A HREF=\"start.html\">beginpagina</A> van de Handleiding HTML of ga direct naar een van de volgende onderdelen:</P>\n\n<TABLE BORDER=\"0\" CELLPADDING=\"3\" CELLSPACING=\"2\">\n<TR>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"html/introductie/introductie01.html\">Introductie in HTML</A><BR>\n<A HREF=\"html/structuur-document/structuur-document01.html\">Structuur document</A><BR>\n<A HREF=\"html/structureren-tekst/structureren-tekst01.html\">Structureren van tekst</A><BR>\n<A HREF=\"html/weergave-tekst/weergave-tekst01.html\">Weergave tekst</A><BR>\n<A HREF=\"html/hyperlinks/hyperlinks01.html\">Hyperlinks</A><BR>\n<A HREF=\"html/afbeeldingen/afbeeldingen01.html\">Afbeeldingen</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"html/lijsten/lijsten01.html\">Lijsten</A><BR>\n<A HREF=\"html/tabellen/tabellen01.html\">Tabellen</A><BR>\n<A HREF=\"html/formulieren/formulieren01.html\">Formulieren</A><BR>\n<A HREF=\"html/frames/frames01.html\">Frames</A><BR>\n<A HREF=\"html/objecten/objecten01.html\">Objecten</A><BR>\n<A HREF=\"html/scripts/scripts01.html\">Scripts</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"html/stylesheets/stylesheets01.html\">Stylesheets</A><BR>\n<A HREF=\"html/lichtkranten/lichtkranten01.html\">Lichtkranten</A><BR>\n<BR>\n<A HREF=\"html/elementen/elementen.html\">HTML-elementen</A><BR>\n<A HREF=\"html/elementen/html-specificaties/html-specificaties01.html\">HTML-specificaties</A><BR>\n<A HREF=\"html/karakters/karakters01.html\">Speciale karakters</A><BR>\n<BR>\n</TD>\n</TR>\n</TABLE>\n\n<TABLE BORDER=\"0\" CELLPADDING=\"3\" CELLSPACING=\"2\">\n<TR>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"css/css-introductie/css-introductie01.html\">Introductie in CSS</A><BR>\n<A HREF=\"css/selectors/selectors01.html\">Selectors</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"css/eigenschappen/eigenschappen.html\">Eigenschappen</A><BR>\n<A HREF=\"css/css-elementen/css-elementen01.html\">CSS en elementen</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"css/css-browsers/css-browsers01.html\">CSS en browsers</A><BR>\n<BR>\n<BR>\n</TD>\n</TR>\n</TABLE>\n\n<TABLE BORDER=\"0\" CELLPADDING=\"3\" CELLSPACING=\"2\">\n<TR>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"divers/kleuren/kleuren01.html\">Kleuren in HTML/CSS</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"divers/hulpmiddelen/hulpmiddelen01.html\">Hulpmiddelen</A><BR>\n<BR>\n</TD>\n<TD VALIGN=\"top\" ALIGN=\"left\" WIDTH=\"180\">\n<A HREF=\"javascript/javascript.html\">JavaScript voorbeelden</A><BR>\n<BR>\n</TD>\n</TR>\n</TABLE>\n\n<P><BR>\n</P>\n\n<P><FONT SIZE=\"-1\"><SPAN CLASS=\"klein\">Handleiding HTML (<A HREF=\"http://www.handleidinghtml.nl/\" TARGET=\"_top\">http://www.handleidinghtml.nl/</A>)<BR>\n<A HREF=\"algemeen/spelregels.html#copyright\">Copyright</A> &#169; 1995-2015 <A HREF=\"algemeen/reageren.html\">Hans de Jong</A><BR>\nLaatste wijziging: 20 februari 2015</SPAN></FONT></P>\n\n<P ALIGN=\"right\"><A HREF=\"http://validator.w3.org/check?uri=www.handleidinghtml.nl%2Findex.html\" TARGET=\"_blank\"><IMG SRC=\"afbeeldingen/vh401.gif\" WIDTH=\"88\" HEIGHT=\"31\" BORDER=\"0\" ALT=\"HTML-validator\" TITLE=\"De HTML-code in dit document voldoet aan HTML 4.01\"></A> <A HREF=\"http://jigsaw.w3.org/css-validator/validator?uri=www.handleidinghtml.nl%2Findex.html\" TARGET=\"_blank\"><IMG SRC=\"afbeeldingen/vcss.gif\" WIDTH=\"88\" HEIGHT=\"31\" BORDER=\"0\" ALT=\"CSS-validator\" TITLE=\"De gebruikte stylesheets voldoen aan CSS 2\"></A>\n\n\n\n</P>\n\n<!-- Start eXTReMe Pro Tracker Code V3/7 -->\n\n\n</TD>\n</TR>\n</TABLE>\n\n</DIV>\n</BODY>\n\n\n</HTML>\n","x":329,"y":255,"z":"5bf1a2c.fa40e5c","wires":[["72830368.8d7cfc"]]}]